body {
  font-family: sans-serif;
}
body {
  background-color:white;
}
h3 {
  color: black;
}
h2 {
  color: #845EC2;
}
h3 {
  color: #CA5CDD;
}

h1 {
  background-color: #845EC2;
}

.paragraph-style {
  color: black;
  font-size: 14px;
}

.font-size-links {
  color: blue;
  font-size: 12px;
}

.navigation-links {
  color: black;
  font-size: 13px;
}



