body, ul, li, h1, h2, a{
    margin:0;
    padding:0;
    font-family: sans-serif;
}


.header{
    background-color:#C9A7DA;
    padding:20px;
    top: 0px;
    left: 0px;
    text-align: center;
    position: fixed;
    width: 100%; /* width 100% of viewport */
    z-index: 1; /* header placed in front of banner, banner has default value of 0 */

}



.nav-bar{
    background-color: #C9A7DA;
    padding: 20px;
    position: sticky;/*for nav scroll*/
    top: 0px;
    max-width: 100%;
}

nav li{
    width: 14%;
    display: inline-block;
    font-size: 14px;
}
nav ul{
    white-space: nowrap;/* so that items in list don't move to next line*/
    max-width: 1200px;
    margin: 0 auto; /* any space left over on the sides will automatically apply to both sides*/
}
nav li a{ /*nav anchor tags*/
    text-decoration: none;
    color: white;


}

.main{
    max-width: 100%; /* to fit viewport */
    width: 1200px;
    margin: 80px auto; /* margin equally distributed left and right bc of "auto" */
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box; /* padding on inside, included in width */
}

h2 {
    background-color: #b24bf3;
    color: white;
    text-align: center;
} /* all the headings */


.picture{
    position:relative;
    max-width: 100%;
}

.introductory-statement{
    position:absolute;
    left: 0px;
    top: 15%;
    background-color: antiquewhite;
    color: black;
    padding: 30px;
    width: 350px;
    height: 200px;
    text-align: center;
}

.mainsection{
    max-width: 100%;
}

.div1{
    max-width: 1050px;
}

div .img{
    width: 1050;
}