body {
  font-family: sans-serif;
}
body {
  background-color:white;
}

h3 {
  color: #CA5CDD;
}





.paragraph-style {
  color: black;
  font-size: 14px;
}

.font-size-links {
  color: blue;
  font-size: 12px;
}

.navigation-links {
  color: black;
  font-size: 13px;
}

h2 {
  border-style: dashed;
  border-width: 3px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-color: red;
  border-radius: 10px 20px 30px 40px;    
}









