* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: sans-serif;
    height: auto;
    width: auto;
    border-top-style: solid;
    border-top-width: 200px;
    border-top-color: #B24BF3;

    border-bottom-style: solid;
    border-bottom-width: 200px;
    border-bottom-color: #B24BF3;
  } /* code for top border */

body {
    height: auto;
    width: auto;
}

  
  

  div {
    position: relative;
 }
 
 img {
    display: circle;
    border-radius: 50%;
    width: 250px;
    height: 260px;
    position: absolute;
    right: 570px; 
    top: -150px; /* position of image in relation to webpage */
 }

 h1 {
    height: 100px;
    width: 1000px;
 } /* code for style of name */

 .offset {
    left: 520px;
    position: relative;
    top: 120px;
 } /* code for position of name */

 .navigation-links {
    color: black;
    font-size: 13px;
 }

 

 .left {
    position: relative;
    bottom: 100px;
    left: 100px;
    margin-left: -60px;
    margin-top: 200px;
 } /* code for navigation links, eventually want links on separate 
 section of page */


.underline {
    position: relative;
    left:-520px;
    top:-50px;

} /* code for line under my name */






  
  